<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN"><head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="Content-Language" content="zh-CN">
  <title>博客文章管理 Johnny的博客 - SYSIT个人博客</title>
      <link rel="stylesheet" href="/stylesheets/space2011.css" type="text/css" media="screen">
  <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.css" media="screen">
  <script type="text/javascript" src="/javascripts/jquery-1.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/jquery_002.js"></script>
  <script type="text/javascript" src="/javascripts/oschina.js"></script>
  <style type="text/css">
    body,table,input,textarea,select {font-family:Verdana,sans-serif,宋体;}	
  </style>
</head>
<body>
<!--[if IE 8]>
<style>ul.tabnav {padding: 3px 10px 3px 10px;}</style>
<![endif]-->
<!--[if IE 9]>
<style>ul.tabnav {padding: 3px 10px 4px 10px;}</style>
<![endif]-->
<div id="OSC_Screen"><!-- #BeginLibraryItem "/Library/OSC_Banner.lbi" -->
<% include herder.ejs %>
	<div id="OSC_Content">
<div id="AdminScreen">
    <div id="AdminPath">
        <a href="index_logined.htm">返回我的首页</a>&nbsp;»
    	<span id="AdminTitle">博客文章管理</span>
    </div>
    <% include adminMenu.ejs%>
    <div id="AdminContent">
<div class="MainForm BlogArticleManage">
  <h3 class="title">共有 3 篇博客，每页显示 40 个，共 1 页</h3>
    <div id="BlogOpts">
	<a href="javascript:;" onclick="select_all();">全选</a>&nbsp;|
	<a href="javascript:;" onclick="unselect_all();">取消</a>&nbsp;|
	<a href="javascript:;" onclick="select_other();">反向选择</a>&nbsp;|
	<a href="javascript:;" onclick="delete_sel()">删除选中</a>
  </div>
  <ul>
	<%
		for(var i=0;i<blogs.length;i++){
		    var blog = blogs[i];
	%>
	  <li class="row_1">
		  <input name="blog" value="<%=blog.blog_id%>" type="checkbox">
		  <a href="viewPost_comment.htm" target="_blank"><%=blog.title %></a>
		  <small><%=blog.create_time.toLocaleString()%></small>
	  </li>
	<%
		}
	%>



	  </ul>
    </div>
</div>
	<div class="clear"></div>
</div>

</div>
	<div class="clear"></div>
	<div id="OSC_Footer">© 赛斯特(WWW.SYSIT.ORG)</div>
</div>
<script src="/javascripts/jquery-1.11.3.min.js"></script>
<script>
    $(function () {
        $('#btnDelete').on('click', function () {
            var valueStr = '';
            var $checked = $(':checked');
            $checked.each(function(){
                valueStr += this.value + ',';//"2,6,"
            });
            valueStr = valueStr.slice(0, -1);
            //url, data, callback, dataType
            $.get('/delBlog', {blogIds: valueStr}, function(data){
                if(data == 'success'){
                    alert('删除成功!');
                    $checked.parent().remove();
                }
            }, 'text');
        });
    });
</script>
</body></html>